.container {
  display: flex;
  height: 100vh;
}

.left-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Organiza as Div filhas Horizontalmente */
}

.top-div {
  flex-grow: 1;
  /* Preenche todo o espaço disponível*/
  background-color: #5a5;
}

.main-left-div {
  height: 80%;
  /* Ocupa 80% da altura do seu contêiner pai */
  background-color: #5ee;
}

.right-div {
  width: 30%;
  max-height: 100vh;
  background-color: #f5e;
}
